# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# SQLite/DB
*.db
*.sqlite3
instance/

# Flask uploads
uploads/

# Environment variables
.env

# macOS
.DS_Store

# VSCode
.vscode/ 